-f https://download.pytorch.org/whl/torch_stable.html

beautifulsoup4==4.9.3


itsdangerous == 1.1.0
scipy==1.6.1
flask==1.1.2

jinja2==2.11.2
numpy==1.19.2
gunicorn==0.17.0
torch==1.8.1+cpu

markupsafe==1.1.1
regex==2020.11.13
requests==2.25.1
soupsieve ==2.0.1
transformers==4.3.2
threadpoolctl==2.1.0
werkzeug==1.0.1


